@import "./reset.scss";

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: $base-menu-slider-color;
}
::-webkit-scrollbar-thumb {
    background-color: gray;
    width: 10px;
    border-radius: 4px;
}
